{{#error_vin}}
    <p class="lead text-error">
        I can understand only VIN numbers since 1981 (17 character ones.)  If your vehicle VIN is later than 1981, please check your input.
    </p>
{{/error_vin}}
{{#error_check}}
    <p class="lead text-warning">
        VIN check failed.
    </p>
{{/error_check}}
{{#error_general}}
    <p class="lead">
        I'm unable to decode the VIN number provided. If you think the VIN is valid, please
        <a href="https://github.com/g13n/vindecodr/issues" rel="nofollow">submit a bug report here</a>.
    </p>
{{/error_general}}
