<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{#vehicle}}
            <title>VIN Decoded for: {{VIN}} {{^error}}({{/error}}{{Type}}{{^error}}){{/error}}</title>
        {{/vehicle}}
        {{^vehicle}}
            <title>VIN Decoder</title>
        {{/vehicle}}
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen" />
    </head>
    <body>
        <div id="doc">
            <header>
                {{#vehicle}}
                    <h1>VIN Decoded for: {{VIN}} {{^error}}({{/error}}{{Type}}{{^error}}){{/error}}</h1>
                {{/vehicle}}
                {{^vehicle}}
                <h1>VIN Decoder</h1>
                {{/vehicle}}
            </header>

            {{> error}}

            {{> form}}

            {{> vehicle}}

            <footer>
                <p class="muted text-center">Copyright &copy; 2013 Gopalarathnam Venkatesan. All rights reserved.</p>
                <p class="muted text-center">This service is not affiliated with Harley-Davidson Motorcycles of H-D.</p>
                <p class="muted text-center">Disclaimer: Use at your own risk.</p>
                <p class="text-right"><a href="https://github.com/g13n/vindecodr" target="_blank">Source Code</a></p
            </footer>
        </div>
    </body>
</html>
