{{#details}}
<dl class="dl-horizontal">
    <dt>Location</dt>
    <dd>{{Location}}</dd>
    <dt>Make</dt>
    <dd>{{Make}}</dd>
    <dt>Weight</dt>
    <dd>{{Weight}}</dd>
    <dt>Model</dt>
    <dd>{{Model}}</dd>
    <dt>Engine</dt>
    <dd>{{Engine}}</dd>
    <dt>Special</dt>
    <dd>{{Intro}}</dd>
    <dt>Special</dt>
    <dd>{{Check}}</dd>
    <dt>Manufactured</dt>
    <dd>{{Year}}</dd>
    <dt>Assembled</dt>
    <dd>{{City}}</dd>
    <dt>Serial Number</dt>
    <dd>{{Serial}}</dd>
</dl>
{{/details}}
