{{#details}}
<dl class="dl-horizontal">
    <dt>Manufactured</dt>
    <dd>{{Location}}</dd>
    <dt>Make</dt>
    <dd>{{Make}}</dd>
    <dt>Weight</dt>
    <dd>{{Weight}}</dd>
    <dt>Model</dt>
    <dd>{{Model}}</dd>
    <dt>Engine</dt>
    <dd>{{Engine}}</dd>
    <dt>Introduction</dt>
    <dd>{{Intro}}</dd>
    <dt>Year Manufactured</dt>
    <dd>{{Year}}</dd>
    <dt>Assembled At</dt>
    <dd>{{City}}</dd>
    <dt>Serial Number</dt>
    <dd>{{Serial}}</dd>
</dl>
{{/details}}
